body{
    background:#e9ffc9;
}
button{
    color:#7ccbff;
    background:#202020;
    border: 2px solid #ffb07c;
    border-radius: 10px;
    width: 13.7vw;
    height: 6.9vh;
}
.calculator{
    background:#202020;
    border: 2px solid #ffb07c;
    width : 55vw;
   height: 50vh;
   border-radius:10px;
}
.output {
    width:99%;
    height:15vh;
    border: 2px solid #ffb07c;
    border-radius:10px;
}
.row{
    width:100%;
}